<html>
    <head>
        <body>
            
            <p>you have reeived a message from the site's contact form,
            from <%= "#{@name}, #{@name}." %> 
            </p>
            <p> <%=@body%> </p>
            
        </body>
        
    </head>
    
</html>